body{
    background-color: green;
}
/* Department Styles */
.department{
    margin: 20px 0;
}
.department-image{
    width: 100%;
    height: 250px;
}
.grey-out {
    opacity: .4;
}
.department-title {
    color: white;
    position: absolute;
    top: 125px;
    font-size: 3em;
}